<%- include('header')%>

<div class="modal-dialog modal-full-width">
  <div class="modal-content">
    <div class="modal-header d-flex align-items-center">
      <h4 class="modal-title" id="fullWidthModalLabel">Edit post</h4>
      <button type="button" class="close ml-auto" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <div class="card-body"></div>
      <% posts.forEach ((post,index) =>   {%>
      <form id="form-add-post" class="form-horizontal striped-rows b-form" action="/admin/posts/edit/<%=post._id%>"
        method="post" enctype="multipart/form-data">
        <div class="form-group row border-bottom mb-0 py-3 bg-light">
          <div class="col-sm-3">
            <div class="d-flex align-items-center justify-content-end">
              <label for="inputEmail3" class="control-label col-form-label">Title</label>
            </div>
          </div>
          <div class="col-sm-9">
            <input type="text" name="title" class="form-control" id="title" value="<%=post.title %>" required>
          </div>
        </div>
        <div class="form-group row border-bottom mb-0 py-3 bg-light">
          <div class="col-sm-3">
            <div class="d-flex align-items-center justify-content-end">
              <label for="inputEmail3" class="control-label col-form-label">Description</label>
            </div>
          </div>
          <div class="col-sm-9">
            <textarea name="description" class="form-control" id="description"
              required><%=post.description %></textarea>
          </div>
        </div>
        <div class="form-group row border-bottom mb-0 py-3 bg-light">
          <div class="col-sm-3">
            <div class="d-flex align-items-center justify-content-end">
              <label for="inputEmail3" class="control-label col-form-label">Image Title</label>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">...</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file-new" name="file-new" required>

                <label class="custom-file-label for=" inputGroupFile01">Choose
                  Image
                </label>
              </div>
              <div class="col-sm-12 custom-pp1">
                <img src="../../../uploads/<%=post.image[0]%>" alt="image" width="80" class="rounded-circle">
              </div>
            </div>
          </div>

          <style>
            .custom-pp1 {
              display: flex;
              width: 100%;
              justify-content: center
            }
          </style>
        </div>
        <div class="form-group row border-bottom mb-0 py-3 bg-light">
          <div class="col-sm-3">
            <div class="d-flex align-items-center justify-content-end">
              <label for="inputEmail3" class="control-label col-form-label">Content</label>
            </div>
          </div>
          <div class="col-sm-9">
            <textarea id="content1" name="content" class="summernote-new" required><%=post.content %></textarea>
          </div>
        </div>
        <div class="form-group row border-bottom mb-0 py-3 bg-light">
          <div class="col-sm-3">
            <div class="d-flex align-items-center justify-content-end">
              <label for="inputEmail3" class="control-label col-form-label">Image Others</label>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">...</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file-new" name="file-new" required>
                <label class="custom-file-label for=" inputGroupFile01">Choose image </label>
              </div>
              <div class="col-sm-12 custom-pp1">
                <img src="../../../uploads/<%=post.image[1]%>" alt="image" width="80" class="rounded-circle">
              </div>
            </div>
          </div>
        </div>
        <%})%>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
    <button type="submit" id="btn-edit-post" class="btn btn-primary">Save changes</button>
  </div>
</div>
</form>
</div>
</div>
<!-- end modal-new -->
<%- include('footer')%>
