<%-include("../layouts/header")%>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper">
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header">
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
              class="ti-menu ti-close"></i></a>
          <a class="navbar-brand" href="index.html">
            <b class="logo-icon">
              <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
              <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
            </b>
            <span class="logo-text">
              <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
              <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
            </span>
          </a>
          <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="icon-arrow-left-circle"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
              </a>
              <div class="dropdown-menu mailbox animated bounceInDown">
                <ul class="list-style-none">
                  <li>
                    <div class="font-weight-medium border-bottom rounded-top py-3 px-4">
                      Notifications
                    </div>
                  </li>
                  <li>
                    <div class="message-center notifications position-relative" style="height:250px;">
                      <a href="javascript:void(0)"
                        class="message-item d-flex align-items-center border-bottom px-3 py-2">
                        <span class="btn btn-danger rounded-circle btn-circle"><i class="fa fa-link"></i></span>
                        <div class="w-75 d-inline-block v-middle pl-2">
                          <h5 class="message-title mb-0 mt-1">Luanch Admin</h5> <span
                            class="font-12 text-nowrap d-block text-muted text-truncate">Just see the my new
                            admin!</span> <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span>
                        </div>
                      </a>
                      <a href="javascript:void(0)"
                        class="message-item d-flex align-items-center border-bottom px-3 py-2">
                        <span class="btn btn-success rounded-circle btn-circle"><i class="ti-calendar"></i></span>
                        <div class="w-75 d-inline-block v-middle pl-2">
                          <h5 class="message-title mb-0 mt-1">Event today</h5> <span
                            class="font-12 text-nowrap d-block text-muted text-truncate">Just a reminder that you have
                            event</span> <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span>
                        </div>
                      </a>
                      <a href="javascript:void(0)"
                        class="message-item d-flex align-items-center border-bottom px-3 py-2">
                        <span class="btn btn-info rounded-circle btn-circle"><i class="ti-settings"></i></span>
                        <div class="w-75 d-inline-block v-middle pl-2">
                          <h5 class="message-title mb-0 mt-1">Settings</h5> <span
                            class="font-12 text-nowrap d-block text-muted text-truncate">You can customize this template
                            as you want</span> <span class="font-12 text-nowrap d-block text-muted">9:08 AM</span>
                        </div>
                      </a>
                      <a href="javascript:void(0)"
                        class="message-item d-flex align-items-center border-bottom px-3 py-2">
                        <span class="btn btn-primary rounded-circle btn-circle"><i class="ti-user"></i></span>
                        <div class="w-75 d-inline-block v-middle pl-2">
                          <h5 class="message-title mb-0 mt-1">Pavan kumar</h5> <span
                            class="font-12 text-nowrap d-block text-muted text-truncate">Just see the my admin!</span>
                          <span class="font-12 text-nowrap d-block text-muted">9:02 AM</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <a class="nav-link border-top text-center text-dark pt-3" href="javascript:void(0);"> <strong>Check
                        all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
              </a>
              <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">
                <ul class="list-style-none">
                  <li>
                    <div class="font-weight-medium border-bottom rounded-top py-3 px-4">
                      Messages
                    </div>
                  </li>
                  <li>
                    <div class="message-center message-body position-relative" style="height:250px;">
                      <a href="javascript:void(0)"
                        class="message-item d-flex align-items-center border-bottom px-3 py-2">
                        <span class="user-img position-relative d-inline-block"> <img src="../assets/images/users/1.jpg"
                            alt="user" class="rounded-circle w-100"> <span
                            class="profile-status rounded-circle online"></span> </span>
                        <div class="w-75 d-inline-block v-middle pl-2">
                          <h5 class="message-title mb-0 mt-1">Pavan kumar</h5> <span
                            class="font-12 text-nowrap d-block text-muted text-truncate">Just see the my admin!</span>
                          <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span>
                        </div>
                      </a>
                      <a href="javascript:void(0)"
                        class="message-item d-flex align-items-center border-bottom px-3 py-2">
                        <span class="user-img position-relative d-inline-block"> <img src="../assets/images/users/2.jpg"
                            alt="user" class="rounded-circle w-100"> <span
                            class="profile-status rounded-circle busy"></span> </span>
                        <div class="w-75 d-inline-block v-middle pl-2">
                          <h5 class="message-title mb-0 mt-1">Sonu Nigam</h5> <span
                            class="font-12 text-nowrap d-block text-muted text-truncate">I've sung a song! See you
                            at</span> <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span>
                        </div>
                      </a>
                      <a href="javascript:void(0)"
                        class="message-item d-flex align-items-center border-bottom px-3 py-2">
                        <span class="user-img position-relative d-inline-block"> <img src="../assets/images/users/3.jpg"
                            alt="user" class="rounded-circle w-100"> <span
                            class="profile-status rounded-circle away"></span> </span>
                        <div class="w-75 d-inline-block v-middle pl-2">
                          <h5 class="message-title mb-0 mt-1">Arijit Sinh</h5> <span
                            class="font-12 text-nowrap d-block text-muted text-truncate">I am a singer!</span> <span
                            class="font-12 text-nowrap d-block text-muted">9:08 AM</span>
                        </div>
                      </a>
                      <a href="javascript:void(0)"
                        class="message-item d-flex align-items-center border-bottom px-3 py-2">
                        <span class="user-img position-relative d-inline-block"> <img src="../assets/images/users/4.jpg"
                            alt="user" class="rounded-circle w-100"> <span
                            class="profile-status rounded-circle offline"></span> </span>
                        <div class="w-75 d-inline-block v-middle pl-2">
                          <h5 class="message-title mb-0 mt-1">Pavan kumar</h5> <span
                            class="font-12 text-nowrap d-block text-muted text-truncate">Just see the my admin!</span>
                          <span class="font-12 text-nowrap d-block text-muted">9:02 AM</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li>
                    <a class="nav-link border-top text-center text-dark pt-3" href="javascript:void(0);"> <b>See all
                        e-Mails</b> <i class="fa fa-angle-right"></i> </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown mega-dropdown"><a class="nav-link dropdown-toggle waves-effect waves-dark"
                href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class=""><i class="mdi mdi-view-grid"></i></span>
              </a>
              <div class="dropdown-menu animated bounceInDown">
                <div class="mega-dropdown-menu row">
                  <div class="col-lg-3 col-xlg-2 mb-4">
                    <h4 class="mb-3">CAROUSEL</h4>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                          <div class="container p-0"> <img class="d-block img-fluid" src="../assets/images/big/img1.jpg"
                              alt="First slide"></div>
                        </div>
                        <div class="carousel-item">
                          <div class="container p-0"><img class="d-block img-fluid" src="../assets/images/big/img2.jpg"
                              alt="Second slide"></div>
                        </div>
                        <div class="carousel-item">
                          <div class="container p-0"><img class="d-block img-fluid" src="../assets/images/big/img3.jpg"
                              alt="Third slide"></div>
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                          class="sr-only">Previous</span> </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span> <span
                          class="sr-only">Next</span> </a>
                    </div>
                  </div>
                  <div class="col-lg-3 mb-4">
                    <h4 class="mb-3">ACCORDION</h4>
                    <div id="accordion">
                      <div class="card mb-1">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne">
                              Collapsible Group Item #1
                            </button>
                          </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                          data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                          </div>
                        </div>
                      </div>
                      <div class="card mb-1">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                              aria-expanded="false" aria-controls="collapseTwo">
                              Collapsible Group Item #2
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                          </div>
                        </div>
                      </div>
                      <div class="card mb-1">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                              aria-expanded="false" aria-controls="collapseThree">
                              Collapsible Group Item #3
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                          data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-3 col-xlg-4 mb-4">
                    <h4 class="mb-3">List style</h4>
                    <ul class="list-style-none">
                      <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> You can give link</a>
                      </li>
                      <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Give link</a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another Give link</a>
                      </li>
                      <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Forth link</a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another fifth link</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <ul class="navbar-nav">
              <li class="nav-item search-box d-none d-md-block">
                <form class="app-search mt-3 mr-2">
                  <input type="text" class="form-control rounded-pill border-0" placeholder="Search for...">
                  <a class="srh-btn"><i class="ti-search"></i></a>
                </form>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                    src="../assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                  <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom">
                    <div class=""><img src="../assets/images/users/1.jpg" alt="user" class="rounded" width="80"></div>
                    <div class="ml-2">
                      <h4 class="mb-0">Steave Jobs</h4>
                      <p class=" mb-0">varun@gmail.com</p>
                      <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                    </div>
                  </div>
                  <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user mr-1 ml-1"></i> My Profile</a>
                  <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet mr-1 ml-1"></i> My Balance</a>
                  <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email mr-1 ml-1"></i> Inbox</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings mr-1 ml-1"></i> Account
                    Setting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off mr-1 ml-1"></i>
                    Logout</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="flag-icon flag-icon-us"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right  animated bounceInDown" aria-labelledby="navbarDropdown2">
                  <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-us"></i> English</a>
                  <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a>
                  <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-es"></i> Spanish</a>
                  <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> German</a>
                </div>
              </li>
            </ul>
        </div>
      </nav>
    </header>
    <aside class="left-sidebar">
      <div class="scroll-sidebar">
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li>
              <div class="user-profile text-center position-relative pt-4 mt-1">
                <div class="profile-img m-auto"> <img src="../assets/images/users/1.jpg" alt="user"
                    class="w-100 rounded-circle" /> </div>
                <div class="profile-text py-1"> <a href="#" class="dropdown-toggle link u-dropdown"
                    data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe <span
                      class="caret"></span></a>
                  <div class="dropdown-menu animated flipInY">
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i>
                      Account Setting</a>
                    <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i
                        class="fa fa-power-off"></i> Logout</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span class="hide-menu">Personal</span>
            </li>
            <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                href="javascript:void(0)" aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                  class="hide-menu">Dashboard <span class="badge badge-pill badge-success">5</span></span></a>
              <ul aria-expanded="false" class="collapse  first-level">
                <li class="sidebar-item"><a href="index.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span
                      class="hide-menu"> Modern Dashboard </span></a></li>
                <li class="sidebar-item"><a href="index2.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span
                      class="hide-menu"> Awesome Dashboard </span></a></li>
                <li class="sidebar-item"><a href="index3.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span
                      class="hide-menu"> Classy Dashboard </span></a></li>
                <li class="sidebar-item"><a href="index4.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span
                      class="hide-menu"> Analytical Dashboard </span></a></li>
                <li class="sidebar-item"><a href="index5.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span
                      class="hide-menu"> Minimal Dashboard </span></a></li>
              </ul>
            </li>
            <li class="nav-devider"></li>
            <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span class="hide-menu">Manager</span>
            </li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/posts"
                aria-expanded="false"><i data-feather="message-circle" class="feather-icon"></i><span
                  class="hide-menu">Manager Post</span></a></li>
            <li class="sidebar-item selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link active"
                href="/admin/kyc" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="feather feather-check-circle feather-icon">
                  <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                  <polyline points="22 4 12 14.01 9 11.01"></polyline>
                </svg><span class="hide-menu">Manager Kyc</span></a></li>
        </nav>

      </div>

      <div class="sidebar-footer">

        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>

        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>

        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
      </div>
    </aside>
    <div class="page-wrapper">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-md-5 align-self-center">
            <h3 class="page-title">Dashboard</h3>
            <div class="d-flex align-items-center">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Kyc</li>
                </ol>
              </nav>
            </div>
            <h4 class="card-title">List status: Pending </h4>
          </div>
          
          <div class="col-md-7 d-flex justify-content-end align-self-center d-none d-md-flex">
            <div class="d-flex">
              <div class="dropdown mr-2 hidden-sm-down">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> January 2020 </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item"
                    href="#">February 2020</a> <a class="dropdown-item" href="#">March 2020</a> <a class="dropdown-item"
                    href="#">April 2020</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="container-fluid">
        <div class="row">
          <div class="card card-body"> 
            <form name="container-form" method="post" action="/admin/kyc/handle-action">
            <div class="mt-4 d-flex align-items-center">        
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check-all">
                <label class="form-check-label " for="check-all">Select All</label>
              </div>           
            <select class="form-control form-control-sm check-select " name="action" required>
              <option value="">-- Action --</option>
              <option value="resolve">Resolve</option>
              <option value="refuse">Refuse</option>
            </select>
            <style>
              .check-select{
                width:130px;
                margin : 0 16px;
              }
            </style>
            <button class = "btn btn-primary btn-sm checkAllSubmit disabled"> Submit </button>
          </div  >
            <div class="table-responsive">
              <table class="table table-striped search-table v-middle">
                <thead class="header-item">
                  <tr>
                    <th class="text-dark font-weight-bold">#</th>
                    <th class="text-dark font-weight-bold">No</th>
                    <th class="text-dark font-weight-bold">Name</th>
                    <th class="text-dark font-weight-bold">Born</th>
                    <th class="text-dark font-weight-bold">Image</th>
                    <th class="text-dark font-weight-bold">Phone</th>
                    <th class="text-center">
                      <div class="action-btn">
                        <a href="javascript:void(0)" class="submitMess-multiple text-success"><i
                            class="mdi mdi-submitMess font-20 font-medium"></i> Action</a>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <!-- row -->
                  <% users.forEach((user, index) =>{ %>
                  <tr class="search-items">
                    <td>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="userIds[]" value="<%=user.userId %>">
                      </div>
                    </td>                                       
                    <td class="footable-first-visible" style="display: table-cell;"><%=index+1%></td>
                    <td>
                      <div class="d-flex align-items-center">
                        <!-- <img src="../assets/images/users/1.jpg" alt="avatar" class="rounded-circle" width="35"> -->
                        <div class="ml-2">
                          <div class="user-meta-info">
                            <h5 class="user-name mb-0" data-name="Emma Adams"><%= user.identity.fName%><%= user.identity.lName%></h5>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="usr-email-addr" data-email="adams@mail.com"><%= user.identity.born%></span>
                    </td>
                    <td>
                      <span class="usr-location" data-location="Boston, USA">
                        <img src="../assets/images/users/4.jpg" alt="user" width="40" class="rounded-circle">
                        <img src="../assets/images/users/4.jpg" alt="user" width="40" class="rounded-circle">
                        <img src="../assets/images/users/4.jpg" alt="user" width="40" class="rounded-circle">

                      </span>
                    </td>
                    <td>
                      <span class="usr-ph-no" data-phone="+1 (070) 123-4567"><%= user.identity.phone%></span>
                    </td>
                    <td class="text-center">
                      <div class="action-btn">
                        <a href="" data-toggle="modal" data-id="<%=user.userId %>"  data-target="#resolve-course-modal"
                          class="text-info edit" style="position: relative;">
                          <span id="resolve" class="hidden" style="position: absolute; top:-26px ; right: 1px;">Resolve</span>
                          <i class="mdi mdi-account-edit font-20"></i>
                        </a>
                        <a href="" data-toggle="modal" data-id="<%=user.userId %>"  data-target="#refuse-course-modal" 
                         class="text-info refuse" style="position: relative;">
                          <span id="refuse" class="hidden" style="position: absolute; top:-26px ; left: 1px;">Refuse</span>
                          <i class="mdi mdi-delete font-20"></i></a>
                      </div>
                    </td>
                  </tr>
                  <% })%>
                </tbody>
                <foot>
                  <tr class="footable-paging">
                    <td colspan="8">
                      <div class="footable-pagination-wrapper">
                        <ul class="pagination justify-content-center">
                          <% if (page > 1) { %>
                          <li class="page-item">
                            <a class="page-link" href="/admin/kyc?page=<%=page-1 %>" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <% } %>
                          <% range.map((i) => { %>
                          <li class="page-item <%= page === i ? "active" : "" %>"></li>
                          <% if (i === "...") { %>
                          <span> <%= i %> </span>
                          <% } else { %>
                          <a class="page-link" href="/admin/kyc?page=<%= i %>"><%= i %></a>
                          <% } %>
                          </li>
                          <% }) %>
                          <% if (page < totalPages) { %>
                          <li class="page-item ">
                            <a class="page-link" href="/admin/kyc?page=<%= page + 1 %>"> Next </a>
                          </li>
                          <% } %>
                        </ul>
                
                
                        <div class="divider"></div><span class="label label-primary"><%= page%> of <%= totalPages%></span>
                      </div>
                    </td>
                  </tr>
                </foot>
                <style>
                  .text-info.edit:hover #resolve  {
                      display: unset;
                  }
                  .text-info.refuse:hover #refuse {
                      display: unset;
                  }
                  .hidden{display: none;}
                </style>
              </table>
            </div>
            </form>
          </div>  
        </div>
      </div>
<!-- Modal resolve-->


<div id="resolve-course-modal" class="modal fade" id="delete" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resolve user </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You want resolve the user ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btn-resolve" type="button" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>
<form name="resolve-form" method="post"></form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var userId;
    var resolveForm = document.forms['resolve-form'];

    var btnResolveCourse = document.getElementById("btn-resolve")
    $('#resolve-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      userId = button.data('id');
    })
    btnResolveCourse.onclick = function () {
      resolveForm.action = '/admin/kyc/resolve/' + userId;
      resolveForm.submit();
    }
  })                                   
</script>
<!-- Modal refuse-->
<div id="refuse-course-modal" class="modal fade" id="delete" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Refuse user </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You want refuse the user ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btn-refuse" type="button" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>
<form name="refuse-form" method="post"></form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var userId;
    var resolveForm = document.forms['refuse-form'];
    var containerForm = document.forms['container-form'];
    var btnResolveCourse = document.getElementById("btn-refuse");
    var checkAll = $("#check-all");
    var userItemCheckbox = $('input[name="userIds[]"]')
    var checkAllSubmit = $('.checkAllSubmit'); 


    $('#refuse-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      userId = button.data('id');
    })
    btnResolveCourse.onclick = function () {
      resolveForm.action = '/admin/kyc/refuse/' + userId;
      resolveForm.submit();
    }
    //checkbox all 
    checkAll.change(function(){
      let isCheckedAll = $(this).prop('checked');
        userItemCheckbox.prop('checked', isCheckedAll);
        renderCheckAll();
        
    })
   // item checkbox 
    userItemCheckbox.change(function () {
       let isCheckedAll = userItemCheckbox.length === $('input[name="userIds[]"]:checked').length;      
       checkAll.prop('checked', isCheckedAll);
       renderCheckAll();
    })
    //check all submit
    checkAllSubmit.on('submit', function (e) {
      let isSubmitTable = !$(this).hasClass('disabled');
      if (!isSubmitTable) {
        e.preventDefault();
        containerForm.submit()
      }
    })

    //render check all submit
    function renderCheckAll(){
      var checkedCount = $('input[name="userIds[]"]:checked').length;
      if(checkedCount > 0){
        checkAllSubmit.removeClass('disabled')
      }else{
        checkAllSubmit.addClass('disabled')
      } 
    }
  
  })
</script>
       <%-include("../layouts/footer")%>
